@media screen and (max-width:768px) {
@charset "UTF-8"

    *, *::before, *::after {
        box-sizing: border-box;
    }
    
    body {
        font-size: 40%;
        margin: 0;
        font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons";
        width: 100%;
    }
    
    a {
      text-decoration: none;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    .header {
        width: 100%;
        height: 30px;
        background-color: #FFF;
        text-align: center;
        position: fixed;
        z-index: 100;
    }
    
    .dummy-header {
        display: hidden;
        height: 30px;
        width: 100%;
    }
    
    .logo-image {
        height: 100%;
        padding-top: 0.5%;
    }
    
    .top-image {
        width: 100%;
        height: 100%;
    }
    
    .item {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: 3% 2%;
    }
    
    .image-wrapper {
        padding: 0;
        order: 1;
        width: 60%;
        text-align: center;
    }
    
    .profile_image {
        box-shadow: 10px 10px 15px #141C44;
        width: 100%;
    }

    
    .info-wrapper {
        width: 100%;
        order: 2;
        padding-left: 10%;
    }
    
    .price-wrapper {
        text-align: center;
    }
    .info-wrapper .price {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    
    .info-wrapper h2 {
         font-size: 1.2rem;
        border-bottom: 2px solid #000;
    }
    
    .info-wrapper p {
        font-size: 1.0rem;
    }
    
    .info-wrapper .ship {
        font-size: 0.8rem;
    }
    
    .info-item {
        padding: 4% 2% 2% 2%;
        font-size: 0.8rem;
    }
    
    .info-item h3 {
        border-bottom: 1px solid #000;
    }
    
    .btn {
      padding: 8px 24px;
      color: #FFF;
      display: inline-block;
      opacity: 0.8;
      border-radius: 15px;
      background-color: #141C44;
      font-size: 1.2rem;
    }
    
    .btn:hover {
      opacity: 1;
    }
    
    .description i {
        margin-right: 10px;
    }
    
    .review img {
        margin: 0 6px;
    }
    
    .description {
        background-color: #141C44;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        color: #FFF;
        padding: 3%;
    }
    
    .item-personal {
        order: 1;
    }
    
    .item-skill {
        order: 2;
    }
    
    .item-others {
        order: 3;
    }
    
    .description .fas {
        font-size: 4rem;
        padding: 15% 15% 4% 15%;
    }
    
    .icon {
        text-align: center;
    }
    
    .description ul {
        font-size: 1.2rem;
    }
    
    .comparison {
        text-align: center;
        padding: 4%;
    
    }
    
    .age {
        font-size: 0.8rem;
    }
    
    .left {
        width: 30%;
        order: 1;
    }
    
    .right {
        width: 70%;
        order: 2;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2rem;
    }
    
    .right p {
        font-size: 0.2rem;
        font-weight: 200;
        line-height: 1;
    }
    
    .comparison h2 {
        padding: 0;
    }
    
    .comp-item {
        width: 100%;
        padding: 0%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .ver18 {
        width: 50%;
        order: 1;
    }
    
    .ver21 {
        width: 50%;
        order: 2;
        font-weight: bold;
    }
    
    
    .portfolio {
        width: 100%;
        color: #FFF;
        background-color: #141C44;
    }
    
    .portfolio h1 {
        text-align: center;
    }
    
    .swiper-slide p, span {
        font-size: 0.8rem;
    }
    
    .history {
        padding: 7%;
    }
    
    .history-item {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    .review-item {
        padding: 3%;
        font-size: 0.9rem;
    }
    
    .history-left {
        order: 1;
        width: 100%;
    }
    
    .history-right {
        order: 2;
        width: 100%;
    }
    
    .title {
        font-weight: bold;
    }
    
    .contact {
      padding: 15px 15px;
      background-color: #141C44;
      color: #FFF;
      text-align: center;
    }
    
    .contact p {
        font-size: 0.8rem;
    }
    
    .contact .fas, .fab {
    font-size: 6rem;
    padding: 5px 30px;
    height: 40%;
    color: #FFF;
    }

    .fabicon {
    padding: 5px 30px;
    }
    
    .footer {
        width: 100%;
        height: 40px;
        text-align: center;
    }
    
    .review-item {
        transition: all 1s ease-in;
    }
    
    
    /*-----------------*/
    
    .swiper-slide {
      height: 50px;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      width: 100%;
    }
    
    @media only screen and (min-width: 769px) {
      .swiper-slide {
        height: 50px;
      }
    }
    
    
    .swiper-slide img {
        height: 80%;
        width: 80%;
        box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.6);
    }
    
    .swiper-slide {
        text-align: center;
    }
    
    .swiper-slide span {
        border-bottom: 1px solid #FAFAFA;
        display: inline-block;
        padding-bottom: 2px;
        margin-bottom: 6px;
    }

}